<h1>New Image</h1>

<%= link_to 'GET ME OUT OF HERE!!!', images_path %>

<%= form_for :image, url: images_path do |f| %>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :tweet %><br>
    <%= f.text_field :tweet %>
  </p>

  <p>
    <%= f.label :ghash %><br>
    <%= f.text_field :ghash %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
